DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres          # kendi kullanıcı adın
DB_PASS=1234              # kendi şifren
DB_NAME=fintech_db        # az önce oluşturduğun DB
JWT_SECRET=super_secret_key
